[2021-01-07 17:20] dsetrakyan opened #23 "First test issue"
**Congrats on the release! **

  **Expected behaviour**
Just filing a 1st issue as a test

**Logs**
Looking forward to the GA

[2021-01-07 17:50] txscot commented on #23
Ack on test.  Closing.

[2021-01-07 18:01] hsuamz commented on #23
Reopening test.

[2021-01-07 18:03] #23 closed

[2021-01-07 18:15] txscot opened #24 "Test #2"
**Describe the issue**
There is no issue. Testing the notifications for rissues.

**Expected behaviour**
This will be received by the AWS alias for the project.

[2021-01-07 18:47] hsuamz commented on #24
Closing test issue.

[2021-01-07 18:47] #24 closed

[2021-04-29 17:31] narayananl23 opened #61 "Support for HikariCP Connection pool - Question"
**Describe the issue**
Do you support HikariCP , we are using mysql with HikariCP https://github.com/brettwooldridge/HikariCP  and evaluating the Amazon Aurora MYSQL.

**Driver Version?**
0.1.0.

**Java Version?**
Open JDK 11

**OS Version?**
NA

**MySQL Version?**
5.7

**To Reproduce**
NA

**Expected behaviour**
NA

**Logs**
Failed to load driver class software.aws.rds.jdbc.mysql.Driver in either

[2021-04-29 19:07] hsuamz commented on #61
Hello @narayananl23,

Thanks for reaching out and thanks for evaluating Amazon Aurora MySQL. We wanted to clarify the driver name since there may be an issue with the naming as shared in your logs.

If you're using the `0.1.0` public preview release, the driver name was `software.aws.rds.jdbc.Driver`. We've changed the driver name on our mainline branch to distinguish better between our [AWS JDBC

[2021-04-29 19:33] narayananl23 commented on #61
@hsuamz

That made some progress. Now I get this error..

![image](https://user-images.githubusercontent.com/3720723/116607601-0f261d80-a8e7-11eb-8a2f-67973d0826d0.png)

[2021-04-29 19:38] narayananl23 commented on #61
@hsuamz

FYI
For the same Amazon Aurora MYSQL server, everything works fine, if we use "com.mysql.cj.jdbc.Driver"  for DriverClassName

[2021-04-29 20:00] hsuamz commented on #61
Thanks @narayananl23,

We believe this a known issue for some workflows and this has been recently fixed on our main branch. Since the driver is based on the MySQL community driver, the MySQL protocol is compatible. One thing to note is if you plan on using the community driver alongside the AWS driver, please refer to the configuration `acceptAwsProtocolOnly` on our README.

If you're able to bui

[2021-04-30 00:17] narayananl23 commented on #61
@hsuamz

It works now..   Thanks for the pointers. When it is scheduled for an updated release ?

Few tips others..

1) `software.aws.rds.jdbc.mysql.Driver.setAcceptAwsProtocolOnly(true); `

If we need to build and add to local maven.
2) Once you built the project to add it to local repo..
[code]

e.g
`mvn install:install-file -Dfile=/pathtofolder/aws-mysql-jdbc/build/libs/aws-mysql-jdbc-1.0.0.jar

[2021-04-30 16:20] #61 closed

[2021-05-10 05:23] jaakko-solita opened #63 "How do I configure logging levels?"
- [   ] bug report
- [ x ] feature request

**Describe the issue**
This library is logging quite a lot. I see log lines with level TRACE. I would like to see only INFO level log lines and up

I'm using Spring Boot and Hikari. The driver seems to do custom logging outside the usual logging framework? How do I configure the log levels?

**Driver Version?**
0.1.0

[2021-09-14 20:07] mealbarracin10 opened #95 "is it recommended to use for production?"
**Describe the issue**
I'm evaluating this driver to use on my application, but on the readme file I can see that say _We encourage you to experiment with MySQL driver but DO NOT adopt it for production use_ So My question is I can see the 0.1.0 and 0.2.0 versions is it recommended to use any version on production

**Driver Version?**
0.1.0
0.2.0

**Java Version?**
11.0.12

**OS Version?**
macOS B

[2021-09-15 19:17] hsuamz commented on #95
Hello @mealbarracin10,

Thanks for checking out the project! Currently, the project is under public preview and will be going through changes before we consider general availability for production use.

If you're evaluating the driver right now, we encourage all customers to use the latest release, which at this time is 0.2.0.

Let me know if you have any questions. As you're evaluating, if there

[2021-10-04 18:47] sbutterfield opened #106 "Build failure - 0.2.0 & OpenJDK Runtime Environment Corretto-11.0.8.10.1 (build 11.0.8+10-LTS)"
**Describe the issue**
A clear and concise description of what the issue is.

I'm attempting to build & compile locally using Corretto 11.0.8 so that I can use the jdbc driver on an application server that will only support 11.0.8 and BELOW JDK.

Command:
`gradle build -x test` results in a build failure. Specifics:
FAILURE: Build failed with an exception.

* What went wrong:
Could not determine t

[2021-10-04 19:03] sbutterfield commented on #106
Same issue using `gradlew` wrapper within your project. It does attempt to run on gradle 6.3

[2021-10-04 19:18] congoamz commented on #106
Hello, thanks for your report. We are also seeing this on our end. We believe it is due to https://repository.jboss.org/ experiencing outages, so the related dependencies cannot be pulled by gradle. Hopefully this is just a temporary outage; we'll continue monitoring https://repository.jboss.org/, once it is up again I would expect this issue to go away. Please let us know if you need any other in

[2021-10-04 19:25] sbutterfield commented on #106
Sounds good. Thanks for the quick reply!

[2021-10-06 19:47] sbutterfield commented on #106
jboss repository healed

[2022-03-02 19:45] hsuamz commented on #95
Hello @mealbarracin10,

The AWS JDBC Driver for MySQL is now generally available. You can refer to the latest release here: https://github.com/awslabs/aws-mysql-jdbc/releases/tag/1.0.0 and our updated README.md for updated information.

In addition, feel free to take a look at a blog post here: https://aws.amazon.com/blogs/database/improve-application-availability-with-the-aws-jdbc-driver-for-amaz

[2022-03-02 19:45] #95 closed

[2022-03-10 13:46] johnou opened #177 ""drop-in" compatible for the MySQL Connector/J driver query interceptors"
**Describe the issue**

After reading https://aws.amazon.com/about-aws/whats-new/2022/03/amazon-web-services-jdbc-driver-mysql-failover/ we decided it might be worth evaluating swapping to the AWS mysql driver.

Our application makes use of query interceptors, I see that you have shaded the mysql-jdbc code into the software.aws.rds.jdbc.mysql.shading package, generally I steer away from importing

[2022-03-10 14:46] #177 closed, assigned to nobody

[2022-03-11 07:38] blagerweij opened #178 "GPLv2 license clarification"
Please clarify the GPLv2 License: are we allowed to use this JDBC driver in commercial software that we run on Amazon servers? Additionally, when doing so, are we required to open-source our commercial software ?

I ask this question since there is a lot of confusion on the GPLv2 license change with the MySQL driver, and I was somewhat suprised to see the same license being used here. Many license

[2022-03-11 07:38] blagerweij opened #179 "GPLv2 license clarification"
Please clarify the GPLv2 License: are we allowed to use this JDBC driver in commercial software that we run on Amazon servers? Additionally, when doing so, are we required to open-source our commercial software ?

I ask this question since there is a lot of confusion on the GPLv2 license change with the MySQL driver, and I was somewhat surprised to see the same license being used here. Many licens

[2022-03-11 20:26] #179 closed

[2022-03-14 23:52] hsuamz commented on #178
Hello @blagerweij,

A very common deployment scenario is to use the JDBC driver in your commercial software that you run in your AWS account without having to open-source your software. We can’t provide legal advice, though, so you should discuss the license with your legal counsel if you have further questions, especially any that require getting into specifics about how you’re using the driver w

[2022-03-24 09:40] AndreasHuber-CH opened #184 "Support AWS SDK for Java 2.x for AWS IAM Database Authentication"
- [ ] bug report
- [x] feature request

Using AWS IAM Database Authentication requires currently the following maven dependency:
[code]

I'd like to use it based on the newer AWS SDK for Java 2.x:
[code]

While it is possible to mix the old and new java SDK in the same application, the older sdk does not have the **sso** library that has been added to the new **awssdk**.
Because of that limitation

[2022-03-29 08:00] 21kyu opened #185 "Can I use load balancing to reader instance for read-only transactions, as the mariadb connector supports?"
**Describe the issue**
Can I use load balancing to reader instance for _read-only_ transactions, as the mariadb connector supports?
[Primary/replica connection selection](https://mariadb.com/kb/en/failover-and-high-availability-with-mariadb-connector-j/#primaryreplica-connection-selection)

I tried to load balance by implementing `AbstractRoutingDataSource`, but it didn't seem to work.
Please let

[2022-03-29 16:11] sergiyvamz commented on #185
Hello @21kyu,

Thank you for giving the AWS JDBC Driver for MySQL a try!

It seems that logic you're trying to achieve is supported. You may consider to use `jdbc:mysql:replication://` protocol and do necessary adjustments to your configuration and to your application code. More details are available at: https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-source-replica-replication-connection

[2022-03-31 01:35] #185 closed

[2022-04-10 11:20] maciejwalkowiak commented on #184
Looks like this has been fixed in https://github.com/awslabs/aws-mysql-jdbc/commit/5b937fc9f6b9832a5037840001bb130606ee8761

[2022-04-13 06:15] Howu48 opened #190 "`clusterInstanceHostPattern` is required with aurora db"
**Describe the issue**
`clusterInstanceHostPattern` is required when using `Aurora` + `software.aws.rds.jdbc.mysql.Driver`
(`acceptAwsProtocolOnly` is also not working for me)
[code]

`Instance` + `software.aws.rds.jdbc.mysql.Driver` or `RDS` + `software.aws.rds.jdbc.mysql.Driver` is working fine

**Driver Version?**
1.0.0
**Java Version?**
8
**OS Version?**
Ubuntu18
**MySQL Version?**
5.7
**To Re

[2022-04-13 11:42] robisrob opened #191 "aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.exceptions.PacketTooBigException: Packet for query is too large (77,210 > 65,535)"
**Describe the issue**
The _max_allowed_packet_ on the mysql server is configured at 200000. On our client side, we have not set the max_allowed_packet size.

So queries that return a result that is smaller than 200000, don't give problems in general. However on rare occasions we do get the following error:

`org.springframework.dao.TransientDataAccessResourceException: PreparedStatementCallback;

[2022-04-13 16:42] sergiyvamz commented on #190
Hello @Howu48,

Thank you for giving the AWS JDBC Driver for MySQL a try!

The driver requires `clusterInstanceHostPattern` parameter when connection string doesn't provide enough details about DB cluster domain name. If Aurora cluster endpoint is used in connection string, the driver recognizes standard Aurora domain name and can re-build a proper Aurora instance endpoint name when needed. In oth

[2022-04-13 19:16] sergiyvamz commented on #191
Hello @robisrob,

Would you mind to provide a bit more details about your application and your MySQL database.

1. Do you use Aurora MySQL DB cluster or any other MySQL server?
2. What your connection string looks like? Does it use IP address, domain name, localhost?
3. Do you experience the same issue when you use [MySQL Connector/J driver](https://github.com/mysql/mysql-connector-j)?
4. Do you s

[2022-04-14 00:28] Howu48 commented on #190
@sergiyvamz Thank you for your answer.

I'm not sure what `the tunnel can also handle Aurora DB instance endpoints` means, but `clusterInstanceHostPattern=?.localhost` is working fine.

My question is, why only `Aurora cluster` is required that parameter? 🤔
As I mentioned on description, If I just change the endpoint to `RDS instance` (MySQL Community, via SSH tunnel too) it works well without `cl

[2022-04-14 22:16] sergiyv-bitquill commented on #190
Hello @Howu48,

Sorry I wasn't clear about tunnel. Your tunnel needs to properly route driver requests to corresponding DB instances. Assuming your Aurora DB cluster has 3 instances (instance-1, instance-2, instance-3) and you use `clusterInstanceHostPattern=?.localhost`, your tunnel needs to support the following routing:

`instance-1.localhost:25306` -> `instance-1.<account-id>.<region>.rds.amaz

[2022-04-14 22:21] sergiyvamz commented on #190
Hello @Howu48,

Sorry I wasn't clear about tunnel. Your tunnel needs to properly route driver requests to corresponding DB instances. Assuming your Aurora DB cluster has 3 instances (instance-1, instance-2, instance-3) and you use `clusterInstanceHostPattern=?.localhost`, your tunnel needs to support the following routing:

`instance-1.localhost:25306` -> `instance-1.<account-id>.<region>.rds.amaz

[2022-04-15 02:42] Howu48 commented on #190
@sergiyvamz Thank you for your answer again!

About my tunnel, It actually looks like
`(My local pc) localhost:25306` -> `(Aurora cluster) instance-1.<account-id>.<region>.rds.amazonaws.com:3306`.
Anyway tunnel & `clusterInstanceHostPattern` is work just fine, so it is not the point 😃

About failover, now I see what I was missing.
I thought the driver makes regular JDBC connection if connection st

[2022-04-15 14:50] robisrob commented on #191
1. We use Aurora
2. domain name
3. We used the org.mariadb.jdbc.Driver and didn't had this problem then
4. No

When are now setting the max_allowed_packet on our client side explicitly and don't have the problem anymore

[2022-04-18 19:42] sergiyvamz commented on #190
Hello @Howu48,

If you need to avoid using `clusterInstanceHostPattern` parameter you may either
1) use Aurora endpoints for Aurora clusters, or
2) use simple RDS MySQL database (that isn't a cluster and doesn't support failover), or
3) disable failover support by AWS driver

Since you use a tunnel and `localhost` just in local development then you may consider to go with option 3). In this case
y

[2022-04-19 03:13] Howu48 commented on #190
Okay... I have to separate configuration profile eventually, but `enableClusterAwareFailover` parameter seems more appropriate. Thanks for your help.

It would be nice if you consider to add an option I commented (`Driver decides connection behavior by given URL type`) 😃

[2022-04-19 04:03] leeabuan opened #196 "performance between AWS JDBC Connector and MySQL JDBC Connecto"
**I'm submitting a performance concern...**

**Describe the issue**

using  MySQL JDBC Connector - (https://dev.mysql.com/downloads/connector/j/)

the insert takes  23 sec for inserting 1,000,000 rows

on the otherhand

using AWS JDBC Connector - (https://awslabs.github.io/aws-mysql-jdbc/)

the same insert takes  39s  for inserting 1,000,000 rows

A clear and concise description of what the issue

[2022-04-19 10:58] ZsoltPath opened #197 "Datapipeline throws "Unsupported major.minor version 52.0""
**Describe the issue**
I've updated the driver to this in a Data Pipeline due to previous SSL errors.
Now it throws a "Unsupported major.minor version 52.0". I don't think it's possible to change the Java VM version in the DP runner instances.

**Driver Version?**
v1.0.0

**Java Version?**
no idea (AWS Data Pipeline runner default)

**OS Version?**
no idea (AWS Data Pipeline runner default)

**MyS

[2022-04-19 16:09] sergiyvamz commented on #197
Hello @ZsoltPath

It seems that your AWS Data Pipeline runner uses default Java runtime and it's Java 7. AWS JDBC Driver for MySQL requires Java 8+. You may need to upgrade JRE on your pipeline runner by creating a custom AMI. More details can be found at AWS Data Pipeline documentation:

https://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-custom-ami.html

[2022-04-19 16:59] ZsoltPath commented on #197
That's a bugger! :(
Then I need to maintain that AMI, update it, etc.

But thanks for the solution!

[2022-04-20 04:36] #190 closed

[2022-04-25 21:49] lijubsgit opened #202 "Aurora - Support for Writer & Reader cluster in the jdbc URL"
When the writer & reader cluster URL is provided, the driver failed with a "Communications link failure" error message. the JDBC url is of format - ```jdbc:mysql:aws://<Write Cluster URL>:<port>;<Read cluster URL>:<PORT>/<DB name>?useSSL=true&requireSSL=true&sslrootcert=rds-combined-ca-bundle.pem``` . Is the case the driver accepts one type of URL and the client needs to maintain a separate write

[2022-04-25 23:44] bobfields commented on #202
Also - if the writer instance is used and we have Spring @Transactional(readOnly=true), the SQL should be routed to the readonly replica database. Just like with the mariadb driver (v2.7.5).

[2022-04-27 12:38] abrahammj commented on #191
We got the same issue with a server configured with 128MB _max_allowed_packet_ setting; We have a LONGBLOB column and whenever large binary data is inserted/read, this exception is thrown. The problem can be avoided using _maxAllowedPacket_ jdbc URL parameter, but  we would have preferred the driver to respect the server settings.

[2022-04-27 16:34] sergiyvamz commented on #202
Hello @lijubsgit

Unfortunately AWS JDBC Driver for MySQL, while using "jadbc:mysql:aws://" protocol, doesn't support read/write split. The driver accepts just a single URL in a connection string.

Separate connection pools for read and write traffic could be a possible solution.

Read/write split functionality is currently being looked into. We cannot confirm exact timelines for when this feature

[2022-04-29 01:39] donggak opened #203 "java.sql.SQLNonTransientConnectionException: Communications link failure during rollback(). Transaction resolution unknown"
**Describe the issue**
A clear and concise description of what the issue is.

**Driver Version?**
aws-mysql-jdbc (version 1.0.0)

**Java Version?**

**OS Version?**

**MySQL Version?**
8.0.mysql_aurora.3.01.0

**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A clear and concise description of what you expected to happen.
And what actually happens

**Logs**
If possible MyS

[2022-04-29 01:41] donggak commented on #203
--> Customer Issue
I am using aws-mysql-jdbc 1.0.0, and the above error occurs.
However, no error occurs in mariadb-java-client (version 2.3.0).
My database is using Aurora MySQL. Can I use mariadb-java-client (version 2.3.0) when considering Aurora Mysql upgrade or failover?

[2022-05-02 02:20] Howu48 commented on #191
@sergiyvamz Same issue here.
1. Do you use Aurora MySQL DB cluster or any other MySQL server?
 : Aurora
2. What your connection string looks like? Does it use IP address, domain name, localhost?
 : Cluster Endpoint
3. Do you experience the same issue when you use [MySQL Connector/J driver](https://github.com/mysql/mysql-connector-j)?
 : No
4. Do you see any relations between your issue and DB clus

[2022-05-02 23:00] hsuamz commented on #203
Hello @donggak,

Thanks for reaching out. Have you read through this section in our README? For reference: https://github.com/awslabs/aws-mysql-jdbc#08007---transaction-resolution-unknown.

It's not clear what's happening in the attached logs. If you are following the above guidelines and the issue still persists, could you share some more information in the query workflow that you are trying to e

[2022-05-09 04:11] donggak commented on #203
Hello @Matthew,
Thank you for checking
I'll take a closer look at reference you mentioned. and I'll update it if the issue persist.

Thanks,

[2022-05-09 23:16] bjlkak opened #204 "Using read-only endpoint, but all queries are going to the writer instance after a failover"
**Describe the issue**
Using read-only endpoint, but all queries are going to the writer instance after a failover. I've also tried injecting disk congestion query to the new promoted primary, but it won't reroute the queries to read replica.

**Driver Version?**
1.0.0

**Java Version?**
openjdk 11.0.11

**OS Version?**
macOS 11.4

**MySQL Version?**
5.7.mysql_aurora.2.07.2

**To Reproduce**
In a

[2022-05-10 01:49] donggak opened #205 "Unable to commit against JDBC Connection; nested exception is org.hibernate.TransactionException: Unable to commit against JDBC Connection"
**Describe the issue**
A clear and concise description of what the issue is.

**Driver Version?**
aws-mysql-jdbc (version 1.0.0)
**Java Version?**

**OS Version?**

**MySQL Version?**
8.0.mysql_aurora.3.01.0
**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A clear and concise description of what you expected to happen.
And what actually happens

**Logs**
If possible MySQL

[2022-05-10 01:52] donggak commented on #205
Customers say that an error occurs after changing aws-mysql-jdbc (version 1.0.0) in mariadb-java-client (version 2.3.0).
Why does this error occur?
Please let me know if you need more for analysis
Thank you.

[2022-05-10 13:30] matheusrossato commented on #191
@sergiyvamz same issue here with AWS Aurora MySQL Driver not respecting the server settings. To solve this, we needed to add also max_allowed_packet in the connectionString to correspond to the server setting to something like this:

jdbc\\:mysql:aws\\://${DB_URL}/${DB_NAME}?&failOverReadOnly\\=false&maxAllowedPacket\\=4194304
<img width="558" alt="Screen Shot 2022-05-10 at 10 27 48" src="https://

[2022-05-10 16:58] sergiyv-bitquill commented on #205
Hello @donggak

Thank you for reaching out! According to the log file you provided there was a communication failure while attempting to commit a transaction. Such failure was processed by hibernate into a transaction exception.

I'd recommend to configure driver logging to get more details and be able to troubleshot the issue. Check more details about configuring logging at https://dev.mysql.com/

[2022-05-10 17:25] sergiyvamz commented on #204
Hello @bjlkak

Thank you for reaching out! By using read-only endpoint in a connection string, the driver opens an initial connection to a specified node. During failover the driver reconnects to a new elected writer. More details about driver logic during failover can be found at https://github.com/awslabs/aws-mysql-jdbc#connection-url-descriptions

If your application prefers a replica connectio

[2022-05-10 21:24] bjlkak commented on #204
Hi thank you for the response. So I've tried setting setReadOnly to true, but it still seems like the connection is still going to primary after the failover. Do we need to create a new connection?

Also I am using cluster reader endpoint here NOT the instance endpoint and seeing this issue.

Thank you!

[2022-05-10 21:47] sergiyvamz commented on #204
Hello @bjlkak

You may consider to configure driver logs. That can help to troubleshoot the case. A cluster configuration with 2 nodes (1 writer + 1 reader) isn't typical. During failover process both nodes change their roles and both get unavailable for a short period of time (10-30s) so that may "confuse" the driver. In such case the driver may prioritize any available connection (including a wr

[2022-05-11 00:09] bjlkak commented on #204
Hi, so what I attached a log here. This time what I did was I connected to the reader and performed a failover on the reader, so that writer became to new reader. However, instead of going to the new reader, it still went to the writer.
[jdbc.log](https://github.com/awslabs/aws-mysql-jdbc/files/8665634/jdbc.log)

[2022-05-11 00:21] bjlkak commented on #204
and this is the log where I had two readers and a writer. I was connected to the reader (cluster read-only endpoint) and performed a failover on the writer. But still switched over to the new promoted writer at the end.
[jdbc1.log](https://github.com/awslabs/aws-mysql-jdbc/files/8665670/jdbc1.log)

[2022-05-11 04:18] YoungHu opened #206 "invoke isClosed() method throw Exception"
**Describe the issue**
long time not to use connection, mysql server side will disconnect it, when druid invoke isClosed() to check connection state, aws jdbc driver throw exception, how error origin mysql driver  just return false.

**Driver Version?**
1.0.0
**Java Version?**
JDK8
**OS Version?**
Mac OSX
**MySQL Version?**
5.7
**To Reproduce**
Steps to reproduce the behaviour:
1. set mysql server

[2022-05-11 07:13] donggak commented on #205
Hello @sergiyv-bitquill
Thank you for checking and response.

I have sent an update to my customer, and I will update it here again.

[2022-05-13 13:25] csyperski commented on #202
I came here to research this as well, we are currently using mysql rds with jdbc:mysql:replication to handle the exact issue mentioned with Spring's @transactional(readOnly=true) to route to read-only nodes instead of write nodes.  We are attempting to switch to aurora, but seeing the Maria driver is deprecated and this driver doesn't handle the routing via the connection being set to readOnly is

[2022-05-13 14:51] csyperski commented on #196
I think the discount is that Aurora is billed and sold as a high performance **AND** reliable HA database, not **OR**.  So when the driver can't live up to that I can understand the frustration as after purchased a database that you believe does both, you are force to choose between them.

Do you believe this driver will get to the same performance tier as the reference driver?

[2022-05-16 19:15] bjlkak commented on #204
Hi @sergiyvamz

Have you had a chance to take a look at the logs?

thanks 😄

[2022-05-19 00:39] donggak commented on #205
Hello @sergiyv-bitquill
A new error occurred after the customer applied the Github guide.

2022-05-17 04:20:21 [] [WARN ]: aurora - Connection software.aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.ConnectionImpl@2cc91d87 marked as broken because of SQLSTATE(08S01), ErrorCode(0)
software.aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

I

[2022-05-19 00:40] donggak commented on #205
[Communications+link+failure.20220517.txt](https://github.com/awslabs/aws-mysql-jdbc/files/8721770/Communications%2Blink%2Bfailure.20220517.txt)

[2022-05-20 06:18] zixubingfeng opened #209 "use aws mysql jdbc driver 1.0.0 HikariCP 3.4.5 only write failover time too long than HikariCP 2.7.5"
**Describe the issue**
use aws mysql jdbc driver HikariCP 3.4.5 only write failover time too long than HikariCP 2.7.5.

**Driver Version?**
1.0.0

**Java Version?**
java-1.8-openjdk

**OS Version?**
aws cloud 4.14.209-160.339.amzn2.x86_64

**MySQL Version?**
5.7.12-log

**To Reproduce**
use aws mysql jdbc driver 1.0.0 HikariCP 3.4.5，insert data and then aurora execute failover ,check recover time

[2022-05-20 06:27] zixubingfeng opened #210 "use aws-mysql-jdbc 1.0.0 HikariCP 2.7.9 happened an ConcurrentModificationException, please help to check this question"
**Describe the issue**
2022.5.16 UTC+8 ,prd issue use aws-mysql-jdbc 1.0.0 HikariCP 2.7.9 to resolve failover time too long question
2022.5.19 23:45 UTC+8 ,happen aurora failover，recove time about 30 second.
2022.5.20 12:00 UTC+8 ,happen other exception ConcurrentModificationException,The service has to be restart aurora to  recover

**Driver Version?**
1.0.0

**Java Version?**
java-1.8-openjdk

*

[2022-05-25 01:36] sergiyvamz commented on #204
Hi @bjlkak

It seems that it might be an issue on the driver side. Logs say that the driver reconnects to a proper replica however I suspect that Hikari CP may not properly recognize a returned exception and force to close the connection.

Do you use a solution mentioned in the driver documentation?
https://github.com/awslabs/aws-mysql-jdbc#connection-pooling

Meanwhile we're continue working on t

[2022-05-25 01:47] bjlkak commented on #204
yes in the beginning of the log `Loading AwsHikariCpSqlExceptionOverride` that class is the exception is handled.

Thanks for keep looking into this!

[2022-05-25 09:33] jaecktec commented on #184
when will it be available? 1.0.0 still requires the sdkv1 dependency

[2022-05-25 10:51] luciferhs opened #213 "aws-mysql-jdbc-1.0.0.jar have act in excess of authority"
when i connected rds  ro instance on ec2 use a Ordinary user。 i can't delete any data in a tables.  but use this jar package i can delete data in rds ro instance.

[2022-05-25 10:53] #213 closed

[2022-05-25 10:53] luciferhs commented on #213
123

[2022-05-25 11:40] tommisc opened #214 "After failover sometimes connections are readonly when should not."
**Describe the issue**
I am getting sometimes error The MySQL server is running with the --read-only option so it cannot execute this statement
after failover for connections that are using cluster endpoint

**Driver Version?**
1.0.0

**Java Version?**
Jdk 17

**OS Version?**

**MySQL Version?**
5.7.mysql_aurora.2.10.2

**To Reproduce**
I am using Hikari connection pool 3.4.5.
Sometimes after fail

[2022-05-25 20:47] karenc-bq commented on #191
Hi all, we understand this issue is causing inconveniences in your workflows and we are currently working on a fix: #211.
We will update you when we have a release. We appreciate your patience.

[2022-05-25 21:46] karenc-bq commented on #202
Hi @csyperski, your understanding is correct. We are currently working on read/write split support, we will let you know once the feature has been implemented. We appreciate your patience.
Thank you for your suggestion on the documentation, we will improve our documentation in future releases.

[2022-05-26 06:17] zixubingfeng commented on #214
I am having the same problem. change Hikari connection pool 2.7.9 is ok.
https://github.com/awslabs/aws-mysql-jdbc/issues/209

[2022-05-26 17:34] karenc-bq commented on #204
Hi @bjlkak, how are you checking the type of Aurora instance you are connected to? Do you use [isReadOnly](https://docs.oracle.com/javase/8/docs/api/java/sql/Connection.html#isReadOnly--) or do you query against a specific server variable?

[2022-05-26 18:02] bjlkak commented on #204
Hi @karenc-bq I am using both I am doing `select @@innodb_read_only, @@aurora_server_id` to get the info

[2022-05-27 02:33] LuckyDogg opened #216 "Why this project source code license use GPL v2 not Apache 2.0"
**Describe the issue**
I found this driver by this blog(https://awslabs.github.io/aws-mysql-jdbc/)

I want to use this driver to improve the robustness of our application to failover, so I paid attention to this project

Then I am confused about the source code license, I use AWS aurora Cluster , I think most users who want to use this driver also use Aurora Cluster

This license is not friendly t

[2022-05-27 08:21] tommisc commented on #214
Problem also exists with Hikari version 5.0.1

[2022-05-27 21:37] karenc-bq commented on #214
Hi all, thank you for raising this issue. We're currently looking into it and will share more information once we know more about what is going on. Thank you for your patience.

[2022-05-30 17:29] karenc-bq commented on #209
Hi @zixubingfeng, thank you for raising this issue. We're currently looking into it and will share more information once we know more about what is going on. Thank you for your patience.

[2022-05-30 19:21] hsuamz commented on #191
The fix for this issue has been merged in. We will be closing this issue and we will be providing an updated release soon. Please reopen this issue if it persists.

Thanks.

[2022-05-30 19:21] #191 closed

[2022-05-30 19:22] hsuamz commented on #206
The fix for this issue has been merged in. We will be closing this issue and we will be providing an updated release soon. Please reopen this issue if it persists.

Thanks.

[2022-05-30 19:22] #206 closed

[2022-05-30 21:44] karenc-bq commented on #196
Hello @csyperski,

Agreed. We aim to keep the driver a close to performance as the reference driver.

For visibility, we have identified a potential improvement for the [monitoring thread](https://github.com/awslabs/aws-mysql-jdbc#enhanced-failure-monitoring) that should improve performance.

The monitoring thread is intended for applications that do not have much context into the timings of their

[2022-05-30 23:30] #197 closed

[2022-06-01 16:16] hsuamz commented on #216
Hello @LuckyDogg,

This driver is based on the [MySQL Connector/J driver](https://github.com/mysql/mysql-connector-j). The [license](https://github.com/mysql/mysql-connector-j/blob/release/8.0/LICENSE) of the MySQL Connector/J driver is GPL-2.0. A very common deployment scenario is to use the JDBC driver in commercial software running in an AWS account. We can’t provide legal advice, though, so yo

[2022-06-20 20:52] abedali commented on #209
Hi, Any update on this? with aws jdbc mySQL driver 1.0.0 and Hikari 4.03, it took 3 mins to recover the connection after RDS AZ fail-over.

[2022-06-21 17:01] Michael-S-Smith commented on #214
Any update on this? We have a 3-minute failover duration and are unsure if this is a problem with Hikari or the driver. Does the fact the bug tag was added mean this has been found to be a driver bug?

[2022-06-21 22:16] sergiyvamz commented on #209
Hi @abedali

We're still working on reproducing the issue and finding a solution for it. We'd appreciate if you can provide mode details. That would helps us to narrow down our investigation.

- Exact description of RDS cluster that you use (cluster type, Single-AZ or Multi-AZ, etc.)
- a detailed driver log
- if possible, a code sample that reproduces the issue.

Thank you!

[2022-06-21 22:20] sergiyvamz commented on #214
Hi @Michael-S-Smith

Unfortunately there's no update at the moment. We're still looking into the issue. We're not yet sure if the root cause of the issue is a pure driver bug or an integration issue between the driver and Hikari CP.

We'll keep you informed. Thank you for patience!

[2022-06-24 09:59] maksimsc commented on #184
Any plans to release it?

[2022-06-27 09:06] Hemant-Parihar opened #232 "Even when there is no failure in aws, it shows connection failure."
I am getting this error very frequently after integrating AWS Jdbc driver v1.0 to spring boot application that uses hikari. Whenever it occur api calls takes much more time but there is no api call fail as such.

[code]
[code]

[2022-06-28 07:46] lpapp-zz opened #233 "AWS MySQL JDBC Driver does not recognize Aurora endpoint in China"
Hi,

In China the autogenerated Aurora endpoints ends with '.com.cn'. Based on my experience the driver works in different regions except China becase with the same working config I got the following error there:
"Caused by: java.sql.SQLException: The clusterInstanceHostPattern configuration property is required when an IP address or custom domain is used to connect to a cluster that provides topo

[2022-06-28 07:58] Hemant-Parihar commented on #232
This error is intermittent, for most of the API calls we don't see any problem but for some, it shows this and takes time. We raised the aws support case and they told us to capture this exception SQLSTATE(08S02) and avoid good connection eviction. They told to refer this. https://github.com/awslabs/aws-mysql-jdbc#connection-pooling

But this exception is internally managed by hikari. We are able

[2022-06-28 21:18] davecramer opened #234 "Don't use currentTimeMillis"
https://github.com/awslabs/aws-mysql-jdbc/blob/48d4ad26a99edabb135f4f99f1e395a579cd39bc/src/main/user-impl/java/com/mysql/cj/jdbc/ha/plugins/failover/FailoverConnectionPlugin.java#L556

currentTimeMillis is not guaranteed to be montonic

[2022-06-28 21:27] davecramer commented on #232
Did you implement the HikariCPSQLException  interface as suggested in the https://github.com/awslabs/aws-mysql-jdbc/blob/main/README.md ?

[2022-06-29 22:48] karenc-bq commented on #233
Hello @lpapp-zz,

Thanks for reaching out. Yes, to confirm, domains in China are currently not natively supported; however, the driver supports customization with the instance host pattern. Please refer to this section in our [README.md](https://github.com/awslabs/aws-mysql-jdbc#failover-parameters) and refer to the property `clusterInstanceHostPattern` for configuration instructions.

An example

[2022-06-30 17:06] dipindev commented on #214
This seems to be an issue in 4.0.3 as well. Please confirm if there is any new releases coming up which involves the fix.

[2022-07-01 01:10] abedali opened #237 "aws-jdbc-driver 1.1.0 + Hikari2.7.9 + AWSSecretsManagerPluginFactory - JDBC Connection is failing"
Please help, we need this for our feature enhancements.

+ Spring boot
+ aws-jdbc-driver 1.1.0
+ Hikari2.7.9
+ AWSSecretsManagerPluginFactory
+ SecretsId is submitted through HikariConfig dataSourceProperties
HikariConfig - dataSourceProperties............{secretsManagerSecretId=$validSecretIsd$, password=, secretsManagerRegion=us-east-1}

Refer to the following stack trace.
JDBC Connectivity is f

[2022-07-01 01:59] sergiyvamz commented on #237
Hello @abedali

Thank you for reaching out. As I can see in provided logs, "secretsManagerSecretId" parameter is blank. Did you just remove it from logs for security reasons? Please confirm. It's essential to pass this parameter to the driver.

dataSourceProperties............{secretsManagerSecretId=, password=, secretsManagerRegion=us-east-1}

AWS Secret Manager also requires valid AWS credential

[2022-07-01 02:16] abedali commented on #237
@sergiyvamz thanks for your response, secretsManagerSecretId value is purposely removed from the post.
The username and password stored in the secrets are valid and I tested by reading them from secrets and it worked. This means that my Docker container has the right configuration to read credentials from secrets.

The problem is only when I replace credentials with secretsId.
Please help.

[2022-07-01 05:44] hsuamz commented on #237
@abedali, thanks for providing some additional detail. The difference you see between `com.amazonaws:aws-java-sdk-secretsmanager` and `software.amazon.awssdk:secretsmanager` is that `software.amazon.awssdk:secretsmanager` uses version 2 of the Java SDK whereas the first one you listed uses version 1 of the Java SDK.

Are you able to retest your workflow without the driver using version 2 of the Ja

[2022-07-01 15:31] abedali commented on #237
Question: HikariConfig dataSourceProperties attribute that has following key:value pair. Is this being propagated to Connection object for establishing the connection?
secretsManagerSecretId & secretsManagerRegion are custom properties to Hikari.

HikariConfig - dataSourceProperties............{secretsManagerSecretId=, password=, secretsManagerRegion=us-east-1}

[2022-07-04 18:07] sergiyvamz commented on #233
Hi @guodonb

Thank you for pointing out this mistake in China region domain name. You can try to use the following connection string with a correct clusterInstanceHostPattern:

"jdbc:mysql:aws://aurora-test.cluster-ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn/?clusterInstanceHostPattern=?.ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn"

Regex expression you mentioned doesn't recognise China

[2022-07-04 18:23] sergiyvamz commented on #237
Hello @abedali

"java.lang.ClassNotFoundException: software.amazon.awssdk.services.secretsmanager.model.SecretsManagerException"

This exception means that Secret Manager plugin can't find AWS SDK classes that it depends on. Please make sure that all required AWS SDK v.2 libraries and their dependencies are properly mentioned in classpath and your application can load them.

https://mvnrepository.

[2022-07-04 22:36] abedali commented on #237
@sergiyvamz Thanks for the response
The error stackTrace in my original post is after I included 'software.amazon.awssdk:secretsmanager:2.17.191' in my classpath. I'm sorry if I've missed mentioning this in my original post.
I've responded with that error message because @hsuamz asked a question, but that doesn't mean it's not in the classpath.
Just to avoid going in circles, please feel free to s

[2022-07-05 02:05] guodonb commented on #233
Hi @sergiyvamz
Thanks for the quick response.

Would you please double confirm if the clusterInstanceHostPattern you mentioned support Aurora failover?
According to my test, it doesn't work, that was why I said "Therefor, the failover didn't work." at my earlier post.

I was using the below java code -- adjusted from the sample code at the Github
https://github.com/awslabs/aws-mysql-jdbc#amazon-we

[2022-07-05 16:43] sergiyvamz commented on #233
Hello @guodonb

Please check parameter in the connection string. The correct one is

?clusterInstanceHostPattern=?.ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn

The one I see in your code snippet is:

?clusterInstanceHostPattern=?.cluster-ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn

[2022-07-06 00:35] sergiyvamz commented on #184
Hello @maksimsc

A new version of the driver has been released.
https://github.com/awslabs/aws-mysql-jdbc/releases/tag/1.1.0

[2022-07-06 01:37] guodonb commented on #233
Hello again @sergiyvamz, thanks for your update.

Please pay attention to the Aurora endpoint pattern in China regions at my first post.

The point here is the section 'cluster-ctfz3i8jkise' (it is '-' instead of '.' )
guodonb-aurora-mysql57.cluster-ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn

Actually, I tried the below syntaxes, no one works (was able to connect but unable to failover bypas

[2022-07-06 01:47] sergiyvamz commented on #233
Hello @guodonb

Could you please provide URLs for the DB cluster that you use (the one in China region):
- cluster writer endpoint
- cluster reader endpoint
- instance endpoint for any node on the cluster

[2022-07-06 02:07] guodonb commented on #233
Hello @sergiyvamz

Cluster writer endpoint:
guodonb-aurora-mysql57.cluster-ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn
Cluster reader endpoint:
guodonb-aurora-mysql57.cluster-ro-ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn

Instance endpoint:
guodonb-aurora-mysql57-instance-1.ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn
guodonb-aurora-mysql57-instance-1-cn-northwest-1a.ctfz3i8jkise.rd

[2022-07-06 07:59] weaselmetal opened #239 "Please build and ship this library with source code"
Hi. After using MariaDB connector and experimenting with the MySQL connector itself for our Aurora cluster, I now hope to find the best option in this project.
However, I dearly miss the option to also retrieve the source code for this library.
So please, build and ship this library with the option to fetch the source code via the IDE. In my case IntelliJ IDEA with Maven as build tool. Thanks!

[2022-07-06 08:45] weaselmetal commented on #239
Huh, I noticed that a sources.jar file exists (https://repo1.maven.org/maven2/software/aws/rds/aws-mysql-jdbc/1.1.0/), but it appears that my IDE isn't happy with it. This could be a problem on my end, I need to double check.

[2022-07-06 11:10] weaselmetal commented on #239
Doesn't seem to be and IDE problem.
I can see the source code for class software.aws.rds.jdbc.mysql.Driver, but it appears for everything in package software.aws.rds.jdbc.mysql.shading the source code is unavailable.

[2022-07-06 14:59] #178 closed

[2022-07-06 15:24] davecramer commented on #196
@leeabuan

Can you provide some more information ?

Are you doing 1M inserts in a loop ?

[2022-07-06 15:38] davecramer commented on #203
@donggak is this still an issue ?

[2022-07-06 15:52] sergiyvamz commented on #233
Hello @guodonb

Based on provided URLs I believe that correct value should be

clusterInstanceHostPattern=?.ctfz3i8jkise.rds.cn-northwest-1.amazonaws.com.cn

Please make sure that instance endpoints (as you mentioned above) can be resolved by DNS by your application.
In case you application still have the issue during failover, please provide driver logs with TRACE level.

[2022-07-06 16:17] sergiyvamz commented on #239
Hello @weaselmetal

Thank you for reaching out! As you mentioned snapshot of sources is available on Maven Central. Also, you can fetch sources from github by a release tag. Most of IDE supports git repositories and can fetch sources by commit ID or a tag.

https://github.com/awslabs/aws-mysql-jdbc/tree/1.1.0

During a build process some of dependent libraries are shading into a software.aws.rds.j

[2022-07-06 18:33] sergiyvamz commented on #237
Hello @abedali

Just to clarify. Do you still getting the following exception?

"java.lang.ClassNotFoundException: software.amazon.awssdk.services.secretsmanager.model.SecretsManagerException"

[2022-07-06 21:14] hsuamz commented on #63
Closing this issue as this is an enhancement. The request is captured here for reference and consideration for the future: https://github.com/awslabs/aws-mysql-jdbc/discussions/241.

[2022-07-06 21:14] #63 closed

[2022-07-06 21:15] #184 closed

[2022-07-06 21:21] hsuamz commented on #202
Closing this issue as the read/write splitting feature is currently being worked on. Discussions regarding the feature can be carried over to here: https://github.com/awslabs/aws-mysql-jdbc/discussions/192.

[2022-07-06 21:21] #202 closed

[2022-07-06 21:22] #216 closed

[2022-07-06 22:01] sergiyvamz commented on #237
Hello @abedali

Would you mind to provide the latest driver logs after you fixed issue with AWS SDK dependencies?

[2022-07-06 22:04] abedali commented on #237
@sergiyvamz thanks for the response.
May be you are not reading my response completely.
My original post has the stacktrace from Day-1(since I reported the issue) and the stacktrace is after including the  'software.amazon.awssdk:secretsmanager:2.17.191' library in the classpath.

[2022-07-07 05:49] donggak commented on #203
this issue has been resolved

[2022-07-07 05:49] #203 closed

[2022-07-07 05:50] donggak commented on #205
this issue has been resolved

[2022-07-07 05:50] #205 closed

[2022-07-07 06:47] weaselmetal commented on #239
Thanks @sergiyvamz. I don't understand what's happening exactly, but the result of that build process is: in my project, I only see class `software.aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.ConnectionImpl`, which - I think - is somehow the class that's created based on https://github.com/awslabs/aws-mysql-jdbc/blob/main/src/main/user-impl/java/com/mysql/cj/jdbc/ConnectionImpl.java which lives i

[2022-07-07 15:47] davecramer opened #243 "Should check for null before attempting the connection"
https://github.com/awslabs/aws-mysql-jdbc/blob/48d4ad26a99edabb135f4f99f1e395a579cd39bc/src/main/user-impl/java/com/mysql/cj/jdbc/ha/plugins/AWSSecretsManagerPlugin.java#L140

[2022-07-07 17:16] karenc-bq commented on #237
Hi @abedali, can you please ensure the AWSSecretsManagerPlugin is the first in the plugin chain by specifying the `connectionPluginFactories` parameter as follows:

`connectionPluginFactories=software.aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.ha.plugins.AWSSecretsManagerPluginFactory,software.aws.rds.jdbc.mysql.shading.com.mysql.cj.jdbc.ha.plugins.failover.FailoverConnectionPluginFactory,softwa

[2022-07-07 20:38] abedali commented on #237
@karenc-bq Thank you for your response.

I've updated plugins order in connectionPluginFactories attribute and tested. The issue still exists. I've attached the error stacktrace to this message (stacktrace is too big to paste here).

Please help!
[jdbc-conn-secrets-stacktrace.csv](https://github.com/awslabs/aws-mysql-jdbc/files/9067185/jdbc-conn-secrets-stacktrace.csv)

[2022-07-07 21:35] abedali commented on #237
@davecramer Yes, your standalone jdbc code without Hikari works, the output is
Result is : 1

No credentials passed, but with secretsManagerSecretId & secretsManagerRegion properties, it worked.

[2022-07-07 21:40] davecramer commented on #237
Yes, I put the credentials in ~/.aws/credentials

Thanks for checking. I'll work on it with Hikari

[2022-07-07 21:47] abedali commented on #237
Thanks @davecramer , I'll wait for your response.
Appreciate your time.

[2022-07-07 21:59] sergiyvamz commented on #239
Hello @weaselmetal

Shading definitely adds some complexity to debugging process however it helps to make AWS Mysql JDBC Driver compatible with Mysql JDBC Driver when both drivers are used in the same application.

When debugging the driver project, shading is not applicable and IDE recognises classes in their original packages, for example `com.mysql.cj.jdbc.ConnectionImpl`.

When debugging a use

[2022-07-07 22:03] abedali commented on #237
@davecramer
I'm able to reproduce the problem from your standalone program

If I place 'autoReconnect=true' property in the connection url, then I get the same
Access denied for user ''@'IP_ADDRESS_MASKED' (using password: NO)

Not sure about the significance of 'autoReconnect=true' while reading secrets.

[2022-07-07 22:33] sergiyvamz commented on #214
Hello @tommisc

We have investigated the issue and found a single scenario that may lead to the issue that you reported. If your application performs steps as it follows, then driver failover process connects to a replica instead of a writer node.

[code]

Calling `setReadOnly(true)` gives the driver a hint that the current connection is read-only and it's safe to switch to replica node if needed.

[2022-07-07 23:45] sergiyvamz commented on #209
Hello @zixubingfeng

There's a fix to the issue is available and a snapshot build is ready. Are you able to confirm if the issue is fixed?
https://github.com/awslabs/aws-mysql-jdbc/pull/242
https://github.com/awslabs/aws-mysql-jdbc#using-a-snapshot-of-the-driver

[2022-07-08 17:00] dstaviss opened #247 "Readonly connections Read-replica load-balancing"
Hi,
A question. We currently use "jdbc:mysql:replication" driver with Aurora to achieve read-only connections balancing between multiple read replicas. As mysql driver has no knowledge of Aurora topology we have to list the write and all read replica enpoints explicitly, which is a chore and when the failover happens it screws up the application, but provides for an excellent read performance and

[2022-07-08 19:39] hsuamz commented on #247
Hello @dstaviss,

Thanks for reaching out. For visibility, we're tracking read/write splitting as a feature request here: https://github.com/awslabs/aws-mysql-jdbc/discussions/192. In addition, read/write splitting is a feature that the team is currently working on.

When the feature is closer to being completed, we'll provide some updates and set expectations to when a release would happen.

Than

[2022-07-08 23:18] dstaviss commented on #247
Thanks Matthew,
I checked out #192 - this is a different issue really, I am talking of a feature similar to https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-source-replica-replication-connection.html but Aurora topology aware so the master and replicas enpoints are dynamically updated. The responsibility is on the developer to set conn.setReadOnly(true/false); to indicate the type of the c

[2022-07-11 06:01] guodonb commented on #233
Hi @sergiyvamz

I believe the DNS resolution is working fine, I was able to update and select data from the cluster.

Please download the TRACE log generated with a failover through the following URL.
Please pay attention to line 3674.
As you can see, the failover took 10 minutes until the DNS was refreshed.
Compare by running the same java code in Ohio, the failover took 3~5 sec only.

https://gu

[2022-07-11 13:48] abedali commented on #209
@sergiyvamz Thanks for the update. I'll let you know the feedback once I test using 1.1.1 driver.

[2022-07-11 16:57] sergiyvamz commented on #233
Hello @guodonb

Unfortunately the link you provided is expired. Would you mind to provide another link?

[2022-07-12 02:07] guodonb commented on #233
Hi @sergiyvamz

Try again please.

[2022-07-12 10:09] zixubingfeng commented on #209
@abedali I test using aws-mysql-jdbc-1.1.1-20220708.155324-4.jar  driver and hikaricp 3.4.5 ，The insertion request still takes 30 minutes to recover。

test code like this:
[code]

[2022-07-13 13:38] abedali commented on #209
@sergiyvamz Please refer to an update above.
Any idea when does 1.1.1 version of driver available in maven?

[2022-07-25 01:37] #210 closed

[2022-07-25 01:37] #204 closed

[2022-07-26 15:09] amitgupta-ST opened #253 "Getting false positive errors after failover"
### Describe the bug

Hello,
We are using an EJB3 based application that is deployed on JBoss EAP 6.
We lookup on data-sources that connects to AWS Aurora DB cluster of 2 nodes.
In order to make the application robust against DB failover, we are exploring the aws-labs MySQL driver.
When we use this driver and we have a DB failover in the middle of some processing:

-  The driver is able to connect

[2022-07-26 16:43] sergiyvamz commented on #253
Hello @amitgupta-ST

Thank you for reaching out! Would you mind to provide a bit more details about the issue you're experiencing? That'd help us to investigate the issue.

- Can you provide driver log for a "Unable to establish SQL connection to writer node" event? Driver logging can be turned on by adding a configuration parameter to a connection string. More details can be found here https://gi

[2022-07-28 09:40] zixubingfeng commented on #209
"2022-07-28 17:34:34,255 WARN  pool-5-thread-45  o.h.e.j.s.SqlExceptionHelper:137 - SQL Error: 1290, SQLState: HY000
2022-07-28 17:34:34,255 ERROR pool-5-thread-45  o.h.e.j.s.SqlExceptionHelper:142 - The MySQL server is running with the --read-only option so it cannot execute this statement "

I use cn region, jdbc:mysql:aws://huami-test.cluster-c6w5wba58yqu.rds.cn-northwest-1.amazonaws.com.cn:330

[2022-07-28 17:43] sergiyvamz commented on #209
Hello @zixubingfeng

Thank you for reaching out. It's hard to say whether HY000 is expected in this case or not. HY000 is quite generic error code and it could mean different causes. Would you mind to provide more details about the issue?
- What is a scenario you refer? What does your application do?
- Is the issue you're reporting connected to database cluster failover?
- Could you provide driver

[2022-07-29 10:03] zixubingfeng commented on #209
@sergiyvamz

-  My application only insert test, , for example https://github.com/awslabs/aws-mysql-jdbc/issues/209#issuecomment-1181574778
-  yes，when database cluster failover, I guess this failover scenes can not trigger connection switch ,due to  throw the exception of HY000 . but Do not throw exceptions starting with "08".
- ok, I cannot see any problems , please see [awsfailoverdebug.txt](ht

[2022-07-29 19:25] sergiyvamz commented on #209
Hello @zixubingfeng

Thank you for provided details. Based on driver log provided, the failover process works fine. Here are some extracts from the log file.

Line 32899: Fri Jul 29 11:48:18 CST 2022 - [156] - TRACE: [ClusterAwareConnectionProxy] Detected an exception while executing a command.
Line 33474: Fri Jul 29 11:48:24 CST 2022 - [156] - DEBUG: [ClusterAwareConnectionProxy] Starting writer

[2022-08-02 01:47] zixubingfeng commented on #209
hello @sergiyvamz

-I connect cluster endpoint not writer endpoint, and I not configure override hikari sqlerrorcode,  for example: jdbc:mysql:aws://huami-test.cluster-c6w5wba58yqu.rds.cn-northwest-1.amazonaws.com.cn:3306/basic_services?autoReconnect=true&failOverReadOnly=false&useUnicode=true&characterEncoding=UTF-8&useSSL=false&clusterInstanceHostPattern=?.c6w5wba58yqu.rds.cn-northwest-1.amazona

[2022-08-02 10:21] maksimsc commented on #196
Hi
We are facing the same issue after migrating from `mariadb-java-client`. The overall latency of our service had an increase of ~40%.
Here are the metrics before and after:
![image](https://user-images.githubusercontent.com/76997924/182351246-d96bd772-957b-4543-b517-c31ed36bc344.png)
You can see average latency in ms on the top chart and % of time spent on SQL on the bottom one.

We didn't make

[2022-08-02 16:31] sergiyvamz commented on #209
Hello @zixubingfeng

The cluster endpoint you provided is a cluster writer endpoint and it points out to a writer node. The issue with a cluster endpoint is that it isn't accurate after failover at DB cluster gets completed. It takes some time till a cluster endpoints is updated with a new elected writer node. The log you've provided shows precisely this issue. Your application uses a cluster endp

[2022-08-02 17:10] sergiyvamz commented on #196
Hello @maksimsc

Would you mind to provide more details?

- What connection string and configuration parameters do you use?
- What AWS JDBC MySQL Driver version do you use? Did you try to use a latest snapshot build?
- What are usual SQL statements that your service executes? I can see from the chart that SQL execution times are quite short but that is more like an assumption.
- Did you have a cha

[2022-08-10 07:18] OHsechun opened #254 "Nullpointer exception with HikariCP 4.0.3"
### Describe the bug

We use aws mysql jdbc driver with Hikaricp 4.0.3 (spring boot 2.6.2)
Read-only datasource are set to aws mysql jdbc driver.
Null pointer exception occurs from `this.threadContainer.getMonitor(node).stopMonitoring(context);` when executing select query.
[code]
stack trace is below
[code]

[code]

### Expected Behavior

No error occurs.

### Current Behavior

Error occurs irreg

[2022-08-10 16:07] sergiyvamz commented on #254
Hello @OHsechun

Thank you for reaching out! We're looking into the issue and we'll keep you updated.

[2022-08-10 22:38] sergiyvamz commented on #254
Hello @OHsechun

There's a fix to the issue available and a snapshot build is ready. Are you able to confirm if the issue is fixed?
https://github.com/awslabs/aws-mysql-jdbc#using-a-snapshot-of-the-driver

Thank you!

[2022-08-10 23:44] OHsechun commented on #254
@sergiyvamz
Sure, I'll try it

[2022-08-11 00:05] OHsechun commented on #254
@sergiyvamz
I tested it again.
There is no error logs but slave connections moved to master instance.
Why slave connections moved to master even though there is no failover, no read-replica scale in/out.
I think this is failover behavior of read-only cluster endpoint.
[code]

[2022-08-11 16:12] sergiyvamz commented on #254
Hello @OHsechun

I'm glad to hear the issue is fixed!

As for wrong replica connection as you mentioned, it's hard to understand the case. Would you mind to provide more details about it?
- What connection string do you use? Is it a cluster endpoint or a cluster reader endpoint or an instance endpoint?
- What's you cluster configuration? How many replicas your cluster has?
- Can you provide a driv

[2022-08-11 23:23] OHsechun commented on #254
As I reffered above, datasource setting is below
[code]

I used cluster reader endpoint for slave connections. My RDS Aruroa mysql cluster has 1 master and 1 read-only replica.
There is no warn or error logs during this strange working.

[2022-08-12 17:04] sergiyvamz commented on #254
Hello @OHsechun

That strange behaviour you're experiencing may have different nature. Aurora Reader endpoint can be resolved to a writer node in some case. https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.Overview.Endpoints.html#Aurora.Endpoints.Reader

`If your cluster contains only a primary instance and no Aurora Replicas, the reader endpoint connects to the primary instance

[2022-08-15 01:36] #234 closed

[2022-08-22 01:37] #247 closed

[2022-08-22 01:37] #243 closed

[2022-08-22 01:37] #239 closed

[2022-08-22 01:37] #232 closed

[2022-08-22 11:18] maksimsc commented on #196
Hey @sergiyvamz, answering your questions:

We are using the following configuration params:
[code]

We are on `1.1.0` version. We didn't try snapshots.
[code]

I would say, it is approximately 50/50 reads and writes. Most of the time it is some specific entries, selected/updated using indices.

No, we never tried mysql-connector. At least, we don't have any statistics on it for sure.

Yes, we are

[2022-08-23 18:37] sergiyvamz commented on #196
Hello @maksimsc

Thank you for provided details. Driver logs can be enabled by adding a configuration parameter `logger`. More info can be found at https://github.com/awslabs/aws-mysql-jdbc#enable-logging

Since your application uses Hikari connection pool, we'd suggest to apply a solution mentioned at https://github.com/awslabs/aws-mysql-jdbc#connection-pooling

[2022-08-24 15:35] tomchiverton opened #261 "DBeaver can not select schema"
### Describe the bug

Unable to choose an available schema once connected

### Expected Behavior

Drop down closes, selecting the correct schema

### Current Behavior

Drop down closes, but value in tool bar remains "N/A"

Queries entered need to fully specify the schema.tablename or use "use schema".

### Reproduction Steps

Set up new driver as per the README (separate MR opened to correct the U

[2022-08-24 15:48] tomchiverton commented on #261
Works as expected using the default MySQL driver. Doesn't seem to be a setting at fault from what I can see

[2022-08-25 08:40] tomchiverton opened #263 "DBeaver URL template does not work in example"
### Describe the issue

Needs more curly brackets and less angular ones.

### Links

https://github.com/awslabs/aws-mysql-jdbc/pull/260

[2022-08-25 09:10] kerny3d opened #264 "aws-mysql-jdbc should be tollerant to JDBC URL params without value like disableMariaDbDriver"
### Describe the feature

Considering the issue:
- https://jira.mariadb.org/browse/CONJ-423

I would ask you if aws-mysql-jdbc driver could be tollerant to JDBC url parameter like disableMariaDbDriver. MySQL driver is actually tollerant to this type of parameters.

### Use Case

I'm porting a legacy app running on Tomcat 9 to EKS and RDS Aurora. This app have both mysql-connector-java-8.0.25.jar a

[2022-08-25 17:06] sergiyvamz commented on #264
Hello @kerny3d

Thank you for raising the issue. We understand this issue is causing inconveniences in your workflows. We'll be investigating this issue and will update you when we have a release. We appreciate your patience.

[2022-08-25 17:31] sergiyvamz commented on #261
Hello @tomchiverton

Thank you for raising the issue. We understand this issue is causing inconveniences in your workflows. We'll be investigating this issue and will update you when we have a release. We appreciate your patience.

[2022-08-25 21:57] sergiyvamz commented on #263
PR is merged. Thank you for your contribution!
https://github.com/awslabs/aws-mysql-jdbc/pull/260

[2022-08-25 21:57] #263 closed

[2022-08-25 23:17] sergiyvamz commented on #261
Hello @tomchiverton

According to DBeaver documentation, you can specify custom queries for a driver to facilitate some UI features like changing current schema. You can configure them at `Driver Manager`, open `AWS JDBC Driver for MySQL` settings, switch to `Advanced parameters`, and edit the following queries:

[code]
![image](https://user-images.githubusercontent.com/75754709/186784793-ba30b93f

[2022-08-26 07:27] #261 closed

[2022-08-26 13:57] tomchiverton commented on #261
Yup, pull for updating the docs on it's way.

[2022-08-29 01:39] #237 closed

[2022-08-29 01:39] #233 closed

[2022-08-29 16:57] kenshih commented on #196
Just adding to the conversation, in case it helps...

Context, my company has been looking into migrating our main production database from single region Mysql Aurora 2.x to Aurora Global Database. Because Global Database does not support RDS Proxy, we're looking to mitigate risk of cut-over & looking at the AWS JDBC Connector to help manage failover.

Looking to get a feel for the driver & seeing

[2022-09-12 01:45] #253 closed

[2022-09-14 06:57] fgoldenberg-sdl opened #274 "ClientPreparedQueryBindings IllegalArgumentException for large byte arrays"
### Describe the bug

For large byte arrays, the _ByteArrayOutputStream_ constructor is called with a negative value at
[](https://github.com/awslabs/aws-mysql-jdbc/blob/a5d550d801b933c7918501b5dcb23b67b1ce58e4/src/main/core-impl/java/com/mysql/cj/ClientPreparedQueryBindings.java#L219) due to the maximum possible value for an int, raising an _IllegalArgumentException_.
Sample stacktrace:

_Caused

[2022-09-14 17:10] sergiyvamz commented on #274
Hello @fgoldenberg-sdl

Thank you for raising the issue. We understand this issue is causing inconveniences in your workflows. We'll be investigating this issue and will update you when we have a release. We appreciate your patience.

[2022-09-20 22:52] jnagulavancha opened #283 "Quartz schedulers failing with driver version 1.1.0"
### Describe the bug

We were trying to switch from MariaDB driver to AWS JDBC driver but the quartz schedulers in our applications are failing with below error I did not observe this issue if I use version 1.0.0

 ERROR [] [scheduler_QuartzSchedulerThread] [ErrorLogger] An error occurred whi
le scanning for the next triggers to fire. tag=
       org.quartz.JobPersistenceException: Couldn't acquir

[2022-09-22 00:35] congoamz commented on #209
The fix for this issue was merged in with [this commit](https://github.com/awslabs/aws-mysql-jdbc/commit/9593383b50f61f855e7e1f49ad27ea2aa45c9ab8). I'll close this issue for now since there hasn't been any more discussion. Please reopen if the issue still persists. Thanks you!

[2022-09-22 00:35] #209 closed

[2022-09-22 00:37] congoamz commented on #254
The fix for this issue was merged in with [this commit](https://github.com/awslabs/aws-mysql-jdbc/commit/a760e25bedda5129358c7f229bf22220b7395bb8) and will be included in the next release. I'll close this ticket since there hasn't been any further discussion. Please reopen this ticket if the issue still persists. Thank you!

[2022-09-22 00:37] #254 closed

[2022-09-29 14:12] chenrui333 commented on #196
Any update on this?

[2022-10-04 20:06] jnagulavancha commented on #283
Unfortunately I don't have the query and reverted all my setup.

[2022-10-10 20:08] chenrui333 commented on #196
Any update on this?

[2022-10-11 21:46] davecramer commented on #196
Sorry the delayed response. We investigating the source of the overhead. We should have an update in the next 2 weeks. Thanks for your patience.

[2022-10-12 06:43] flauschie opened #292 "JTA Transactions fail with XAER_RMFAIL"
### Describe the bug

We have the issue that some of our JTA transactions fail with the Exception below.

The same transactions work nicely with the vanilla MySQL driver (8.0.29+).

This happened with v1.1.0.

[code]

### Expected Behavior

JTA transactions work the same as with the latest vanilla MySQL drivers.

### Current Behavior

Transaction rollback

### Reproduction Steps

This happens in s

[2022-10-12 08:58] mariokoehler commented on #292
i can confirm that we see the same exceptions in our project. we've had them for at least a month, but usually less than 5 or so per day. but starting with October 6th we saw a steady incline to up to 100 per day, which starts to be concerning. so far we tried to set the jdbc connection URL parameter pinGlobalTxToPhysicalConnection to true, without success. The exceptions also occur "all over the

[2022-10-12 15:53] abedali opened #293 "Plugins package names in connectionPluginFactories property of connectionUrl"
### Describe the issue

I'm using
implementation group: 'software.aws.rds', name: 'aws-mysql-jdbc', version: **'1.1.1'**

Its an issue in 1.1.0 version of the driver as well.

README recommends following plugin factories with their package names as 'com.mysql.cj.jdbc.ha.plugins'
**com.mysql.cj.jdbc.ha.plugins**.failover.FailoverConnectionPluginFactory, **com.mysql.cj.jdbc.ha.plugins**.NodeMonitori

[2022-10-12 17:25] sergiyvamz commented on #293
Hi @abedali

Thank you for raising the issue! Documentation has been updated.

[2022-10-12 17:25] #293 closed

[2022-10-12 17:48] abedali commented on #293
thank you

[2022-10-12 22:56] hsuamz commented on #283
Thank you @jnagulavancha,

We have tried reproducing this issue on our end, but have been unable to do so. If you encounter this issue again, please re-open or a create a new issue and share the query being executed, provide driver logs, application logs, and the surrounding code where the issue is present.

I will close this ticket for now since we cannot reproduce the issue.

Thanks.

[2022-10-12 22:56] #283 closed

[2022-10-13 00:20] flauschie commented on #292
FWIW, our JTA transactions can contain a fairly big payload with megabytes of data and intermediate updates to the same data during the transaction. Simple JTA transactions don't seem to be affected.

Maybe it's related or not, but we also had JTA issues with the RDS proxy (which we had to abandon).  If the RDS proxy also uses this driver, it could have the same root cause.

[2022-10-13 07:35] mariokoehler commented on #292
in our case it's much simpler, the only reason we use the XA version of the datasource at all is because we do some of our "less important" queries on the read-only instance of the Aurora RDS cluster (to take some load off of the main instance). So we have two datasources defined in our persistence.xml and effectively have to EntityManagers, one associated with the main instance and one with the r

[2022-10-13 08:11] tomchiverton opened #296 "clusterInstanceHostPattern should be optional for custom host names"
### Describe the feature

When a custom host name is used as the host in the JDBC URL, then opaquely named clusterInstanceHostPattern paramater must be added. This should have a sensible default instead.

### Use Case

It's very common to have a custom domain ( `dev.rds.mydomain.com`) as a CNAME to an RDS cluster (`dev-cluster.cluster-cmdXXXXXX.eu-west-2.rds.amazonaws.com.`)

With the MySQL JDBC d

[2022-10-14 00:41] flauschie commented on #292
FWIW, for complicated reasons, our JTA transactions can span across 4 datasources.

[2022-10-14 08:08] mariokoehler commented on #292
by further trial-and-error we discovered what seems to be a correlation to the connection pool size. by increasing the pool size we were able to reduce the frequency of the exceptions. we also modified the way the connection pool manages connections, so that it doesn't hold a constant size pool of connections but instead only has a steady size of 10 and increases/decreases this as needed. that was

[2022-10-14 16:21] sergiyvamz commented on #296
Hello @tomchiverton

Thank you for raising the issue. We understand this issue is causing inconveniences in your workflows. We'll be investigating this issue and will update you when we have a release. We appreciate your patience.

[2022-10-16 22:53] flauschie commented on #292
We always had different min/max settings in our pools. I don't think that the max pool setting is ever hit during our regression testing.

FWIW, we are using Wildfly 26 (Narayana) as JTA engine.

[2022-10-18 06:36] mariokoehler commented on #292
yesterday we switched back to the "vanilla" driver and we're free of exceptions ever since. so it really seems to be related to the driver itself.

[2022-10-18 16:39] karenc-bq commented on #196
The AWS JDBC Driver for MySQL needs to initialize the plugin pipeline and setup the failover plugin for every new connection, so it introduces additional performance overhead when creating new connections.

@kenshih - We noticed that the benchmarks you provided create a new connection for each iteration. Here is a slightly [modified benchmark](https://gist.github.com/karenc-bq/d95083563a687bf277dd

[2022-10-18 16:46] karenc-bq commented on #292
Thank you all for raising this issue. We are currently working on a fix for this issue and will post again once the fix is merged. Thank you for your patience.

[2022-10-18 17:46] karenc-bq commented on #292
The fix has been merged, can you please test out our 1.1.2-Snapshot build [here](https://aws.oss.sonatype.org/content/repositories/snapshots/software/aws/rds/aws-mysql-jdbc/) and let us know if the issue persists.
Thank you.

[2022-10-19 21:02] sergiyvamz commented on #274
Hello @fgoldenberg-sdl

The driver has been recently rebased onto MySQL Connector/J 8.0.31. Will you be able to test out a snapshot build [here](https://aws.oss.sonatype.org/content/repositories/snapshots/software/aws/rds/aws-mysql-jdbc/) and let us know if the issue persists?

Thank you!

[2022-10-19 21:05] sergiyvamz commented on #264
Hello @kerny3d

The fix has been merged, can you please test out our 1.1.2-Snapshot build [here](https://aws.oss.sonatype.org/content/repositories/snapshots/software/aws/rds/aws-mysql-jdbc/) and let us know if the issue persists.

Thank you!

[2022-10-24 14:23] kerny3d commented on #264
I confirm the fix.

Thank you.

[2022-10-24 14:23] #264 closed

[2022-10-26 07:47] chrillux opened #300 "Make it AZ aware"
### Describe the feature

Sorry if this has already been addressed before. I couldn't find anything about it in the documentation so I'll ask the question here.

It would be nice if the connector was availability zone aware, meaning that the services using the connector would prefer to use a read replica that is running in the same AZ as itself,  as this would drive down the costs for data traffic

[2022-10-27 21:03] albanf opened #303 "Several re-connection issues with Aurora v2"
### Describe the bug

After a failover, some connections are invalid:
* they are connected to the replica instead of the writer
* the failover is disabled

### Expected Behavior

Connections to writer should reconnect to the new writer, and the failover should still be enabled

### Current Behavior

After a failover, some connections are invalid:
* they are connected to the replica instead of the

[2022-10-27 21:09] albanf opened #304 "Sources jar does not contain relocated classes"
### Describe the issue

The classes in the sources jar are not the same as the classes in the actual jar.
This is because package `com.mysql` is relocated to `software.aws.rds.jdbc.mysql.shading.com.mysql` during build, but not when sources are packaged.

### Links

N/A

[2022-10-27 21:29] albanf commented on #204
I've experienced similar issues, but I think this is because during the all read-only connections are re-routed to the new writer, which is the only one available for a moment.
Initial state: Instance-0: RW ; Instance-1: RO

First the replica is stopped: Instance-0: RW ; Instance-1: down
So all RO connections are re-rerouted to Instance-0.

Then the replica is promoted and the writer is stopped: I

[2022-11-14 10:56] buitcj opened #308 "Distinct ClientPreparedStatement objects incorrectly have same hashCode and match with equals()"
### Describe the bug

Distinct `ClientPreparedStatement`s sharing a `ConnectionProxy` will all use the `hashCode()` and `equals()` of the `ConnectionProxy` and therefore will all have the same hash code and be equals via the `equals()` call.

This is a problem not only because fundamentally the objects are different so they should have different hash codes and not be equal, but also because when u

[2022-11-15 00:38] sergiyvamz commented on #308
Hello @buitcj

The fix for the issue has been applied. Will you be able to test out a snapshot build [here](https://aws.oss.sonatype.org/content/repositories/snapshots/software/aws/rds/aws-mysql-jdbc/) and let us know if the issue persists?

Thank you!

[2022-11-15 01:54] buitcj commented on #308
Appears to work - thanks @sergiyvamz!

When should we expect 1.1.2 to be released? What is the release schedule for the driver?

[2022-11-15 01:54] #308 closed

[2022-11-17 11:59] dalgibbard commented on #214
@sergiyvamz the read-only flag isn't being set by the client, but by the upstream server.

Eg. If you have a two instance Aurora MySQL cluster, and connect with the cluster endpoint, your traffic is sent to the 'writer' instance. Connection open and persisted for performance etc.
If you failover that 'writer' role to the other instance, the original 'writer' becomes a 'readonly' instance; but wher

[2022-11-18 15:02] buitcj commented on #308
@sergiyvamz friendly bump! if you don't have the answer that's fine, but I just want to have a contingency plan for our own software release if we're not going to get this fix in an official version before our deadlines

[2022-11-18 15:26] davecramer commented on #308
@buitcj we will get back to you ASAP with an answer.

[2022-11-18 16:12] davecramer commented on #214
@dalgibbard are you connecting to the cluster endpoint or the instance endpoints ?

[2022-11-18 16:56] matthewh-BQ commented on #308
Hello @buitcj, we will be including an additional fix before we release an updated driver. We are planning to release 1.1.2 early next week.

Does this align with your deadlines?

Thanks,

Matthew

[2022-11-18 16:58] hsuamz commented on #308
Hello @buitcj, we will be including an additional fix before we release an updated driver. We are planning to release 1.1.2 early next week.

Does this align with your deadlines?

Thanks,

Matthew

[2022-11-18 17:15] dalgibbard commented on #214
Cluster endpoint

[2022-11-18 17:18] hsuamz commented on #196
@kenshih @chenrui333 , following up with @karenc-bq 's response. Have you been able to try the recommendation in reusing the existing connection object and seeing if the observed performance overhead persists in your scenario?

[2022-11-18 18:58] karenc-bq commented on #303
Ongoing discussion in PR #302

[2022-11-18 19:01] karenc-bq commented on #304
Hi @albanf, the `aws-mysql-jdbc-1.1.1.jar` we released gets shaded during compilation. The `com.mysql` package itself are not relocated in the source code, so the sources JAR match what we have in the source code. Is there a specific reason to also have the sources JAR shaded as well?

[2022-11-18 19:44] jubui commented on #308
@hsuamz Yes it does. Thanks for the update

[2022-11-18 19:49] buitcj commented on #308
@hsuamz Yes it does. Thanks for the update

[2022-11-18 20:11] davecramer commented on #214
@dalgibbard thanks! Have a great weekend

[2022-11-21 10:36] albanf commented on #304
When debugging the failover issues, I downloading the maven sources to step through the code, but then the source files do not match the runtime classes, so it's difficult to set breakpoints and run a debugging session

[2022-11-21 14:06] buitcj opened #315 "Wrong Exception thrown for ResultSet getters when there are incompatible data types"
### Describe the bug

As the docs say the aurora mysql driver `can be used as a drop-in compatible for the MySQL Connector/J driver`, it might be expected that the aws mysql driver behaves as the mysql one. Calling `ResultSet#getInt` on a varchar column will cause a `java.lang.NumberFormatException` (e.g., `java.lang.NumberFormatException: For input string: "hello world"`) in the aws mysql driver

[2022-11-21 14:59] buitcj commented on #315
I recognize this is probably a really minor thing that the maintainers might not decide to fix but I wanted to at least bring it up for discussion and visibility.

[2022-11-21 18:54] karenc-bq commented on #304
I see, thank you for raising this, we will investigate it.

[2022-11-23 00:31] alecc-bq commented on #315
Hello @buitcj,

Thank you for raising this issue. I am having some troubles reproducing this bug, would you be able to specify the MySQL driver version you are using?

[2022-11-23 02:49] buitcj commented on #315
@alecc-bq Sorry my repro steps needed to be refined a bit. I edited/simplified the code (before it was needlessly wrapping the exception) and also made sure to provide a row in the table which is crucial because a value like `asdf` won't cause it bug a value like `hello world` will. Please take another look at the repro when you get a chance.

FYI: I am using mysql-connector-java:5.1.49, but the v

[2022-11-23 04:46] buitcj opened #317 "ResultSet#getObject() on Timestamp does not return java.sql.Timestamp nor does the object display in the correct format"
### Describe the bug

https://docs.oracle.com/javase/7/docs/api/java/sql/ResultSet.html#getObject(int) indicates that `The type of the Java object will be the default Java object type corresponding to the column's SQL type, following the mapping for built-in types specified in the JDBC specification`. Not exactly sure where the spec is but https://docs.oracle.com/javase/1.5.0/docs/guide/jdbc/getst

[2022-11-23 20:42] alecc-bq commented on #315
Hello @buitcj,

After reviewing changes in the reproduction steps on the issue, I am having difficulties replicating this bug. I am getting the same `Exception in thread "main" java.lang.NumberFormatException: For input string: "hello world"` with both AWS MySQL driver, and the regular MySQL driver. For reference, here is a snippet of my sample code:

[code]

[2022-11-24 00:04] buitcj commented on #315
@alecc-bq hmm I don't know. The problem is very reproducible on my side now since I modified the repro steps. Just to make sure, when you are using the mysql driver, you are still executing against the aurora mysql instance right? and using "judbc:mysql://<aurora hostname>..." format? can you debug the call to make sure it's going into the mysql driver?

[2022-11-24 01:17] alecc-bq commented on #315
Hello @buitcj, yes I am executing against the same Aurora MySQL instance. For reference, this is what my connection strings look like: `"jdbc:mysql://db-identifier.XYZ.us-east-2.rds.amazonaws.com"` and `"jdbc:mysql:aws://db-identifier.XYZ.us-east-2.rds.amazonaws.com"`. I used the debugger and confirmed that it is going into the MySQL driver when using the first connection string.

[2022-11-24 08:38] karenc-bq commented on #308
Hi @buitcj, version 1.1.2 of the driver has been released, thank you for your patience.

[2022-11-24 10:09] #315 closed

[2022-11-24 12:27] davecramer commented on #317
Thanks for the report

[2022-11-24 21:52] congoamz commented on #317
Hi @buitcj,

Thank you for reaching out with your problem! I noticed that the title of this bug refers to fetching a TIMESTAMP SQL type, but the table created in the "Reproduction Steps" uses a DATETIME instead of a TIMESTAMP. Can you clarify whether your problem is with converting a DATETIME or a TIMESTAMP? When I create the table with a TIMESTAMP instead of a DATETIME and query the table with th

[2022-11-25 12:27] buitcj commented on #317
@congoamz thanks for looking into this.

I can see how my discussion of DATETIME and TIMESTAMP would be confusing. I was talking about the MySQL DATETIME data type and how it maps to a java.sql.Types.TIMESTAMP enum - there is no DATETIME java.sql.Types enum.

I see you are right about the change in behavior. In 5.1, `getObject` on a MySQL DATETIME column will return a `java.sql.Timestamp` as indic

[2022-11-25 12:36] buitcj commented on #317
Ah ok so in the jdbc 4.2 spec (https://download.oracle.com/otn-pub/jcp/jdbc-4_2-mrel2-spec/jdbc4.2-fr-spec.pdf) on pg. 195 they do explicitly layout the mapping between java.sql.Types.TIMESTAMP and java.time.LocalDateTime. This appears to have been changed with JDBC v4.2.
![image](https://user-images.githubusercontent.com/97419/203987195-f8d6fb6e-3250-4b5a-a588-99d63e0b0efb.png)

In the v4.1 spec